#root {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.createEmployee {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
}

label {
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 5px;
}

input {
  border: 1px solid black;
  width: 70%;
}

.address {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  & legend {
    padding: 2px;
  }
}

.state {
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  & h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  & a {
    text-decoration: underline;
    font-size: 0.9rem;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.department {
  border: 1px solid black;
  background-color: rgb(240, 237, 237);
  padding: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.saveEmployeeButton {
  border: 1px solid black;
  background-color: rgb(240, 237, 237);
  border-radius: 2px;
  width: 50px;
}

.errorSaving {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.employee-page-main {
  margin-top: 2rem;
  margin: 2rem 10% 0 10%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}
