#root {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.createEmployee {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
}

label {
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 5px;
}

input {
  border: 1px solid black;
  width: 70%;
}

.address {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  & legend {
    padding: 2px;
  }
}

.state {
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  & h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  & a {
    text-decoration: underline;
    font-size: 0.9rem;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.department {
  border: 1px solid black;
  background-color: rgb(240, 237, 237);
  padding: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.saveEmployeeButton {
  border: 1px solid black;
  background-color: rgb(240, 237, 237);
  border-radius: 2px;
  width: 50px;
}

.modalContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.overlayModal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #333333d3;
  position: relative;
}

.modalCloseButton {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px 0 10px 10px;
  border: 1px solid black;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 15px;
}

.selectMenu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(240, 237, 237);
}

.selectMenuHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menuArrow {
  width: 10px;
}

.activeMenuArrow {
  transform: rotate(180deg);
}

.activeMenuOptions {
  overflow-y: hidden;
  overflow: scroll;
  max-height: 250px;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}

.option {
  list-style-type: none;
  cursor: pointer;
  padding: 5px 10px;
  text-overflow: hidden;
  border: 1px solid rgb(240, 237, 237);
  &:hover {
    border: 1px solid black;
  }
}

.employee-page-main {
  margin-top: 2rem;
  margin: 2rem 10% 0 10%;
}
/* Beginning of the DataTables */
.dataTables {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}
/* Setting above the table */
.dataTablesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  & .entriesForm {
    display: flex;
    align-items: center;
    gap: 5px;
    & select {
      border: 1px solid black;
      height: 25px;
    }
  }
  & .searchTable {
    display: flex;
    gap: 10px;
  }
}

/* Table Header */
th {
  padding: 10px;
  & .button-filter {
    display: flex;
    gap: 10px;
  }
}

.all-triangles-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  & .triangle-filter-active {
    border-color: transparent transparent purple transparent;
  }
  & span {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent grey transparent;
    &:last-child {
      transform: rotate(180deg);
    }
  }
}

/* Table Body */

tbody {
  & .tr-data:first-child {
    border-top: 1px solid black;
  }
  & .tr-data:last-child {
    border-bottom: 1px solid black;
  }
}

.tr-data:nth-child(even) {
  background-color: #ccc;
  &:hover {
    .td-active {
      background-color: grey;
    }
  }
  & .td-active {
    background-color: rgb(158, 154, 154);
  }
}
.tr-data:nth-child(odd) {
  background-color: #fff;
  &:hover {
    background-color: #ccc;
    & .td-active {
      background-color: grey;
    }
  }
  & .td-active {
    background-color: #ccc;
  }
}

td {
  padding: 10px;
}

/* Setting below the table */
.dataTablesFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  & button {
    padding: 2px;
    border: 1px solid white;
  }
  & .pagination-active {
    cursor: pointer;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  & .pagination-inactive {
    cursor: not-allowed;
    color: gray;
  }
  & span {
    border: 1px solid black;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(167, 161, 161);
    background-color: rgb(240, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* End of the DataTables */

/* Begining of the DatePicker */
.input-date-wrapper {
  position: relative;
  width: 500px;
  & p {
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
  }
  & button {
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    outline: none;
  }
}

.picker-wrapper {
  border: 1px solid black;
  border-radius: 7px;
  width: 500px;
  padding: 10px;
  position: relative;
  & button {
    border: none;
    outline: none;
  }
}

/* Input */

.input-date:focus {
  background-color: blue;
  color: white;
}

/* Select Month Picker */
.select-month-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 10px 10px 10px;
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.select-month {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 5px;
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}

.select-year-header {
  background-color: rgb(240, 237, 237);
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.select-month-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  & button {
    display: flex;
    padding: 3px;
    border: 1px solid white;
    font-weight: 400;
    &:hover {
      border: 1px solid black;
      background-color: rgb(240, 237, 237);
    }
    &:disabled {
      text-decoration: line-through;
      color: gray;
      cursor: unset;
      &:hover {
        border: 1px solid white;
        background-color: unset;
      }
    }
  }
}

.select-month-list-close {
  display: none;
}

/* Header */
.picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.picker-header-months {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  & p {
    font-weight: bold;
  }
  & img {
    width: 1rem;
  }
}

.picker-header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 30%;
  & button {
    cursor: pointer;
    & .chevron-forward-outline {
      transform: rotate(-90deg);
    }
    & .chevron-back-outline {
      transform: rotate(90deg);
    }
    & img {
      width: 1.2rem;
    }
  }
}

/* Body */
.seven-col-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  & p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & button {
    border: 1px solid white;
    &:hover {
      border: 1px solid black;
      background-color: rgb(240, 237, 237);
      
    }
  }
  & button:disabled {
    text-decoration: line-through;
    color: gray;
    cursor: unset;
  }
}

.seven-col-grid-heading {
  font-weight: bold;
}

.active {
  background-color: green;
}

.picker-body-buttons {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  & button {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* End of the DatePicker */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}
